.wrapGreeting {
  display: flex;
  justify-content: center;
}

.greeting {
  font-size: 35px;
  margin-top: 50px;
  /* color: blue; */
  color: hsl(193 100% 12%);
  margin-bottom: 50px;
}

.wrapBtn {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 15px 25px;
  font-size: 25px;
  border-radius: 15px;
  cursor: pointer;
  /* background-color: #007bff; */
  background-color: hsl(193 100% 12%);
  color: white;
  border: none;
  margin: 10px;
  transition: background-color 0.2s;
}

.btn:hover {
  /* background-color: #0056b3; */
  background-color: hsl(193deg 100% 12% / 90%);
}

/* ---------------------------- */

.webcamWrap {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 80vh; /* или фиксированную высоту, например 80vh */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* чтобы не было белых полос */
}

.webcamWrap video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* важно! кадрирование без искажений */
}

.capturedWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  height: 100vh;
  overflow-y: auto; /* чтобы кнопки не обрезались */
  background-color: black;
}

.capturedImg {
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}